#syllabus-main-wrap {
	.container {
		width: $screen-lg;
		max-width: $screen-lg;
	}
	
	#main.syllabus-main-content {
		@extend .container;
		
		@media screen and (min-width: $screen-sm-min){
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.syllabus-table {
	.list-inline {
		margin-bottom: 0;
		
		li {
			text-transform: none;
		}
		li:before {
			content: none;
			margin-right: 0;
		}
	}
	
	.syllabus-level {
		@media screen and (max-width: $screen-md-max){
			display: none;
		}
	}

	.syllabus-dept {
		@media screen and (max-width: $screen-lg-max){
			display: none;
		}
	}

	.syllabus-semester {
		display: none;
	}
}


