body{
    background-color: $color_admin_bg !important;
}

#sm-table {
	.sm-no-data {
		font-style: italic;
		color: $gray;
	}
	.bg-success {
		background-color: $color_success_bg;
	}
}

#sm-admin {
	.sm-card {
		border-radius: 0;
		border-left: 4px solid $gray;
	}
	.sm-content {
		display: inline-block;
		min-height: $size_icon;
		min-width: $size_icon;
	}
	.sm-card-icon { 
		@extend .sm-content;
		margin-right: $grid_gutter_width/2;
		width: $size_icon;
		
		.glyphicon {
			background: $gray;
			border-radius: 100%;
			text-align: center;
			line-height: 56px;
			font-size: 20px;
			color: white;
			width: $size_icon;
			height: $size_icon;
		}
	}
	.sm-card-desc {
		@extend .sm-content;
	}
	
	.sm-card-title {
		font-size: 12px;
		text-transform: uppercase;
		margin: 0;
	}
	.sm-card-info {
		font-size: 24px;
		margin: 0;
	}
}
.sm-table {
	& > div {
		padding: $grid_gutter_width/2;
		margin-bottom: $grid_gutter_width/2;
	}
	
	@media screen and (min-width: $screen_md){
		display: table;
		border-collapse: collapse;
		width: 100%;

		& > div {
			display: table-row;
			margin-bottom: 0;

			& > div {
				display: table-cell;
				padding: $grid_gutter_width/2 $grid_gutter_width/4;
				border-bottom: 1px solid #ccc;
			}
		}
	}
}
.sm-courses {
	@extend .sm-table;
	
	.sm-course {
		background-color: $gray_lt;
	}
	.sm-course > div {
	}
}